<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="traceFile" xsi:type="File"
        layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}"
        fileName="${basedir}/logs/trace.log" keepFileOpen="false" encoding="utf-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="traceFile" />
  </rules>
</nlog>